.agregar{
    margin: auto;
    margin-top: 3%;
}

.btn{
    color: white;
    border-color: #1312126c;
    background-color: #04549c;
}

label{
    font-weight: bold;
    color: rgb(100, 93, 93);
}

@media screen and (max-width: 412px){
    .agregar{
        margin-top: 20%;
    }

    .form-label{
        font-size: 12px;
    }

    input{
        font-size: 11px;
    }

    .btn{
        font-size: small;
    }

    mat-icon{
        font-size: 20px;
    }
}