.container-fluid{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

table{
    width: 100%;
}

.edit{
    background-color: #4a4ad6bd;
    border-color: #1312128f;
    margin-right: 1.5%;
}

.delete{
    border-color: #1312128f;
    margin-left: 1.5%; 
}

.agregar{
    font-size: large;
    margin-right: 4%;
    margin-top: 2%;
    color: white;
    border-color: #1312126c;
    background-color: #04549c;
}

.agregar:hover{
    background-color: #04559ce8;
}

.mat-form-field {
    font-size: 16px;
    width: 80%;
}

.filter {
    text-align: center;
    margin-top: 1%;
}

th.mat-header-cell, td.mat-cell {
    text-align: center !important;
    font-size: 14px;
  }

@media screen and (max-width: 1080px){
    .container-fluid{
        margin-top: 10%;
    }
}

@media screen and (max-width: 428px){
    .edit{
        width:30px;
        height:30px;
    }
    .delete{
        width:30px;
        height:30px;
    }
    .icono{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    th.mat-header-cell, td.mat-cell {
        text-align: center !important;
        font-size: 11px;
      }

    .agregar{
        font-size: small;
        margin-right: 4%;
        margin-top: 2%;
    }

    .container-fluid{
        margin-top: 20%;
    }
}

@media screen and (max-width: 400px){
    .edit{
        width:25px;
        height:25px;
    }
    .delete{
        width:25px;
        height:25px;
    }
    .icono{
        font-size: 10px;
        display: flex;
        justify-content: center;
    }

    th.mat-header-cell, td.mat-cell {
        text-align: center !important;
        font-size: 9px;
      }

    .agregar{
        font-size: small;
        margin-right: 4%;
        margin-top: 2%;
    }

    .container-fluid{
        margin-top: 10%;
    }
}