table{
    margin-top: 2%;
    width: 100%;
}

.edit{
    background-color: #4a4ad6bd;
    border-color: #1312128f;
    margin-right: 1.5%;
}

.delete{
    border-color: #1312128f;
    margin-left: 1.5%; 
}

.agregar{
    text-align: right;
    font-size: large;
    margin-right: 8%;
    margin-top: 2%;
}