table{
    width: 100%;
}

.edit{
    background-color: #4a4ad6bd;
    border-color: #1312128f;
    margin-right: 1.5%;
}

.delete{
    border-color: #1312128f;
    margin-left: 1.5%; 
}

.agregar{
    font-size: large;
    margin-right: 7%;
    margin-top: 2%;
    color: white;
    border-color: #1312126c;
    background-color: #04549c;
}

.mat-form-field {
    font-size: 16px;
    width: 80%;
}

.filter {
    text-align: center;
    margin-top: 1%;
}

th.mat-header-cell, td.mat-cell {
    text-align: center !important;
    font-size: 14px;
  }