<div class="container mt-4">
    <mat-list>
      <mat-divider></mat-divider>
      <div mat-subheader style="font-weight: bold;">CANJES DE ALUMNOS</div>
          <mat-list-item>
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle>Excel</div>
            <div matListItemLine> 11-03-2023</div>
            <div style="text-align: center; margin-left: 10%;">
              <button class="btn btn-primary" type="button">
                Descargar
                <mat-icon style="vertical-align: middle;">get_app</mat-icon>
              </button>
            </div>
          </mat-list-item>
  
      <mat-divider></mat-divider>
  
      <div mat-subheader style="font-weight: bold;">CANJES POR CASINOS</div>
          <mat-list-item>
            <mat-icon matListItemIcon>folder</mat-icon>
            <div matListItemTitle>Excel</div>
            <div matListItemLine>05-07-2023</div>
            <div style="text-align: center; margin-left: 10%;">
              <button class="btn btn-primary" type="button">
                Descargar
                <mat-icon style="vertical-align: middle;">get_app</mat-icon>
              </button>
            </div>
          </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
</div>