.mat-list-item {
    color: rgba(0, 0, 0, 0.616);
}

.mat-list-item:hover{
    color: rgb(54, 49, 49);
}

.btn{
    color: white;
    border-color: #1312126c;
    background-color: #106cbd;
}

.btn:hover{
    background-color: #0f5999;
}