.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.login{
    width: 100%;
    max-width: 330px;
    margin-bottom: 5%;
    text-align: center;
    z-index: 1;
}

.loading{
    margin: 0 auto;
    z-index: 1;
}