table{
    text-align: center;
    font-family: Arial;
    margin-top: 2%;
}

.delete{
    border-color: #1312128f;
    margin-left: 1.5%; 
}

.agregar{
    text-align: right;
    font-size: large;
    margin-right: 1.5%;
    color: white;
    border-color: #1312126c;
    background-color: #04549c;
}

.agregar:hover{
    background-color: #04559ce8;
}

@media screen and (max-width: 412px){
    .delete{
        width:30px;
        height:30px;
    }
    .icono{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    th{
        font-size: 12px;
    }
    
    td{
        font-size: 10px;
      }

      .agregar{
        font-size: small;
        margin-right: 4%;
        margin-top: 2%;
    }

    .container-fluid{
        margin-top: 25%;
    }
}