table{
    text-align: center;
    font-family: Arial;
    margin-top: 2%;
}

.delete{
    border-color: #1312128f;
    margin-left: 1.5%; 
}

.agregar{
    text-align: right;
    font-size: large;
    margin-right: 1.5%;
    color: white;
    border-color: #1312126c;
    background-color: #04549c;
}

.agregar:hover{
    background-color: #04559ce8;
}