<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-hover table-striped-responsive">
                <thead>
                    <tr>
                        <th>Nombre del Casino</th>
                        <th>Becas Canjeadas</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let casino of casinoService.casinos">
                        <td>{{ casino.nombre }}</td>
                        <td>{{ casino.cantidad }}</td>
                        <td>
                            <button *ngIf="loginService.rolesAccess()" matTooltip="Eliminar casino" class="btn btn-danger btn-sm delete" (click)="borrarCasino(casino.id!)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-12" style="text-align: right;">
          <button *ngIf="loginService.rolesAccess()" class="btn btn-primary agregar" [routerLink]="['/agregar-casino']">
            Agregar nuevo casino
            <mat-icon style="vertical-align: middle;">add</mat-icon>
          </button>
        </div>
        </div>
      </div>
    </div>
  </div>
